// ========Common code start=========
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
  line-height: 0.8;
}
.container{
width: 1280px;
margin: 0 auto;
}
  $primary: 'Poppins', sans-serif;
  $manrope: 'Manrope', sans-serif;
  $secendary: #1C1E53;
  $primary: #282938;
// ========Common code end===========

// ========Navbar code start=========
#navbar{
  padding: 16px 0;
  position: absolute;
  width: 100%;
  .nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    .menu{
      display: flex;
      align-items: center;
      column-gap: 48px;
      ul{
        display: flex;
        align-items: center;
        column-gap: 32px;
        a{
          color: #BBBBCB;
          font-size: 16px;
          font-family: 500;
          line-height: 28px;
          font-family: 'Poppins', sans-serif;
          transition: all linear 0.3s;
          &:hover{
            color: #fff;
          }
        }
      }
      .btn a{
        color:#fff;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        line-height: 28px;
        padding: 16px 48px;
        border: 2px solid rgba(244, 246, 252, 0.2);
        border-radius: 41px;
        background-color: #2405F2;
        background-color: transparent;
        transition: all linear 0.3s;
        &:hover{
          background-color: #2405F2;
        }
      }
    }
  }
}
// ========Navbar code end===========

// ========Banner code start=========
#banner{
  background: $secendary;
  padding: 218px 0 128px 0;
  .banner__wrapper{
    display: flex;
    align-items: center;
    column-gap: 60px;
    .content{
      width: 582px;
      h1{
        width: 500px;
        color: #fff;
        font-size: 54px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        line-height: 74px;
        margin-bottom: 24px;
      }
      p{
        width: 460px;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 48px;
      }
      .btn{
        display: flex;
        column-gap: 40px;
        a{
          color: #1B1C2B;
          font-family: 'Poppins', sans-serif;
          font-size: 18px;
          font-weight: 600;
          line-height: 32px;
          background-color: #FCD980;
          padding: 16px 56px;
          border-radius: 41px;
          &:last-child{
            background-color: transparent;
            color: #fff;
            transition: all linear 0.3s;
          }
          &:last-child:hover{
            background-color: #FCD980;
            color: #1B1C2B;
          }
          i{
            margin-left: 16px;
          }
        }
      }
    }
    .image{
      width: 638px;
    }
  }
}
// ========Banner code end===========

// ========Work code start=========
#work{
  background: #F4F6FC;
  padding: 128px 0;
  .work__wrapper{
    display: flex;
    .work__content{
      width: 405px;
      .heading{
        color: $primary;
        font-size: 48px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        line-height: 64px;
      }
      p{
        color: #282938;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
        margin: 16px 0;
      }
      h6{
        color: #2405F2;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
      }
    }
    .work__item__wrapper{
      width: 656px;
      margin-left: 142px;
      .item{
        display: flex;
        flex-wrap: wrap;
        column-gap: 25px;
        row-gap: 48px;
        .number{
          span{
            padding: 9px 15px;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 32px; 
            background-color: #2405F2;
            border-radius: 8px;
          }
          h3{
            color: #282938;
            font-family: 'Poppins', sans-serif;
            font-size: 32px;
            font-weight: 500;
            line-height: 48px;
            margin-top: 16px;
          }
          p{
            color: #282938;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            opacity: 0.7;
            margin-top: 8px;
            width: 303px;
          }
        }
      }
    }
  }
}
// ========Work code end===========

// ========Projects code start=========
#projects{
  padding: 128px 0;
  .heading__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
      color: $primary;
      font-size: 48px;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
      line-height: 64px;
    }
    a{
      color: #282938;
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px
      i{
        margin-left: 16px;
      }
    }
  }
  .projects__wrapper{
    display: flex;
    margin-top: 64px;
    column-gap: 32px;
    .big__projects{
      width: 843px;
      height: 600px;
      overflow: hidden;
      position: relative;
      &:hover .overlay{
        left: 0;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .overlay{
        width: 396px;
        height: 600px;
        background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
        position: absolute;
        left: -396px;
        top: 0;
        z-index: 55;
        transition: all linear 0.3s;
        h3{
          width: 313px;
          color: #fff;
          font-family: 'Poppins', sans-serif;
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          margin-top: 312px;
          margin-left: 48px;
        }
        p{
          width: 293px;
          color: #fff;
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          margin: 16px 0 40px 48px;
          opacity: 0.8;
        }
        a{
          color: yellow;
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          margin-left: 48px;
          align-items: center;
          i{
            margin-left: 16px;
          }
        }
      }
    }
    .small__project{
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      .item{
        width: 405px;
        height: 284px;
        row-gap: 32px;
        overflow: hidden;
        position: relative;
        &:hover .overlay{
          left: 0;
        }

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .overlay{
          width: 405px;
          height: 284px;
          background: linear-gradient(329deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
          position: absolute;
          top: 0;
          left: -405px;
          padding: 129px 0 45px 56px;
          transition: all linear 0.3s;
          h3{
            width: 313px;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            font-weight: 600;
            line-height: 36px;
          }
          a{
            color: yellow;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            align-items: center;
            margin-top: 10px;
            i{
              margin-left: 16px;
            }
          }
        }

      }
    }
  }
}
// ========Projects code end===========

// ========Features code start=========
#features{
  background: #F4F6FC;
  padding: 128px 0;
  .heading{
    width: 630px;
    text-align: center;
    margin: 0 auto;
    h6{
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
    }
    h2{
      color: $primary;
      font-size: 48px;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
      line-height: 64px;
      margin-top: 12px;

    }
  }
  .item__wrapper{
    margin-top: 47px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 24px;
    .item{
      width: 405px;
      height: 316px;
      background-color: #fff;
      padding: 58px 33px 0 48px;
      h4{
        margin-top: 23px;
        color: #282938;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
      }
      p{
        margin-top: 12px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
      }
    }
  }
}
// ========Features code end===========

// ========About us code start=========
#about{
  background: #F4F6FC;
  padding: 128px 0 106px 0;
  .about__wrapper{
    display: flex;
    column-gap: 110px;
    .content__wrapper{
      width: 327px;
      h3{
        color: $primary;
        font-size: 38px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        line-height: 56px;
      }
      p{
        margin-top: 16px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        opacity: 0.7;
      }
    }
    .info__wrapper{
      width: 843px;
      article{
        color: #282938;
        font-family: 'Poppins', sans-serif;
        font-size: 32px;
        font-weight: 500;
        line-height: 48px;
      }
      .person{
        margin-top: 50px;
        display: flex;
        align-items: center;
        .image{
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 10px;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .name{
          h5{
            color: #282938;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 32px;
          }
          span{
            color: #282938;
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 28px;
          }
        }
      }
    }
  }
}
// ========About us code end===========

// ========Questions code start=========
#questions{
  background: #fff;
  padding: 128px 0;
  .questions__wrapper{
    display: flex;
    justify-content: space-between;
    .heading{
      width: 328px;
      h3{
        color: $primary;
        font-size: 38px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        line-height: 56px;
        margin-bottom: 16px;

      }
      span{
        color: #2405F2;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
      }
    }
    .item__wrapper{
      width: 846px;
      display: flex;
      flex-direction: column;
      row-gap: 64px;
      .item{
        display: flex;
        justify-content: space-between;
        margin-left: 27px;
        .questions__item{
          display: flex;
          align-items: start;
          span{
            color: #2405F2;
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
          }
          h4{
            color: #282938;
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            margin-left: 55px;
          }
          p{
            margin-left: 55px;
            margin-top: 16px;
            width: 624px;
            color: #282938;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            opacity: 0.7;
          }
        }
        .icon i{
          color: #282938;
          width: 16px;
          height: 16px;
          opacity: 0.7;
        }
      }

    }
  }
}
// ========Questions code end===========

// ========Websites code start=========
#website{
  .website__wrapper{
    display: flex;
    .heading__wrapper{
      width: 656px;
      height: 691px;
      position: relative;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .overlay{
        width: 100%;
        height: 100%;
        background: rgba(28, 30, 83, 0.50);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 55;
        padding: 96px;
        h2{
          color: #fff;
          font-family: 'Poppins', sans-serif;
          font-size: 54px;
          font-weight: 600;
          line-height: 74px;
          margin-bottom: 24px;
        }
        p{
          color: #fff;
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
        }
      }
    }
    .inquriy__wrapper{
      width: 624px;
      height: 691px;
      background-color: #1C1E53;
      padding: 96px 96px 0 96px;
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      .inquiry__info{
        h1{
          color: #fff;
          font-size: 32px;
          font-weight: 500;
          font-family: 'Poppins', sans-serif;
          line-height: 48px;
          margin-bottom: 16px;
        }
        p{
          color: #F4F6FC;
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          font-family: 'Poppins', sans-serif;
        }
      }
      .intut__wrapper{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        input{
          padding: 18px 32px;
          border-radius: 8px;
          border: 1.5px solid rgba(255, 255, 255, 0.05);
          background: none;
          color: #fff;
        }
        input::placeholder{
          color: #F4F6FC;
          opacity: 0.5;
          font-size: 16px;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          line-height: 28px;
          text-transform: capitalize;
        }
      }
      .btn{
        display: flex;
        flex-direction: column;
        word-wrap: 28px;
        text-align: center;
        a{
          display: inline-block;
          color: #1B1C2B;
          font-family: 'Manrope', sans-serif;
          font-size: 18px;
          font-weight: 600;
          line-height: 32px;
          background-color: #FCD980;
          padding: 15px 51px;
          border-radius: 41px;
          text-transform: capitalize;
          &:last-child{
            background-color: transparent;
            color: #fff;
            i{
              margin-left: 16px;
            }
        }
      } 
    }
  }
  }
}

// ========Websites code end===========

// ========Blog code start=========
#blog{
  background: #fff;
  padding: 128px 0;
  .heading{
    h2{
      color: $primary;
      font-size: 48px;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
      line-height: 64px;
    }
  }
  .item__wrapper{
   margin-top: 64px;
   display: flex;
   flex-wrap: wrap;
   column-gap: 32px;
   .item{
    width: 405px;
    .image{
      width: 405px;
      height: 285px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        
      }
    }
    .date{
      margin-top: 40px;
      span{
        color: #282938;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
      }
    }
    .info{
      margin-top: 16px;
      h5{
        color: #282938;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
      }
      p{
        margin-top: 16px;
        color: #282938;
        opacity: 0.7;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px; 
      }
    }
    .more{
      margin-top: 32px;
      align-items: center;
      span{
        color: #282938;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        i{
          margin-left: 12px;
        }
      }
    }
   }
  }
}
// ========Blog code end===========

// ========Bottom code start=========
#bottom{
  background: #1C1E53;
  padding-top: 96px;
  .bottom__wrapper{
    display: flex;
    column-gap: 260px;
    .logo__wrapper{
      width: 400px;
      p{
        margin-top: 22px;
        color: #fff;
        opacity: 0.8;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        font-family: 'Poppins', sans-serif;
      }
      .contact{
        width: 517px;
        height: 95px;
        background-color: #FCD980;
        margin-top: 86px;
        padding: 18px 0 18px 37px;
        display: flex;
        column-gap: 30px;
        .email{
          display: flex;
          flex-direction: column;
          row-gap: 1px;
          h6{
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px
          }
          span{
            color: #282938;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            opacity: 0.8;
          }
        }
        .call{
          display: flex;
          flex-direction: column;
          row-gap: 1px;
          h6{
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px
          }
          span{
            color: #282938;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            opacity: 0.8;
          }
        }
      }
    }
    .info__wrapper{
      width: 400px;
      .heading{
        h2{
          color: #fff;
          font-size: 48px;
          font-weight: 600;
          font-family: 'Poppins', sans-serif;
          line-height: 64px;
          margin-top: 12px;
        }
      }
      p{
        margin-top: 14px;
        color: #F4F6FC;
        opacity: 0.8;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px
      }
      .link{
        margin-top: 28px;
        display: flex;
        column-gap: 27px;
        i{
          color: #fff;
        }
      }
    }
  }
}
// ========Bottom code end===========

// ========Footer code start=========
#footer{
  padding: 32px;
  .footer__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .copyright{
      span{
        color: #282938;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
      }
    }
    .menu ul{
      display: flex;
      align-items: center;
      column-gap: 32px;
      a{
        display: inline-block;
        color: #282938;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
      }
    }
  }
}
// ========Footer code end===========
